.header {
  width: 100%;
  height: 100vh;
}
.top-nav {
  width: 100%;
  height: 100vh;
  top: -100vh;
  position: fixed;
  z-index: 50;
  background-color: #16162d;
  border-bottom-right-radius: 100%;
  border-bottom-left-radius: 100%;
  transition: all 650ms cubic-bezier(1, 0, 0, 1);
}
.nav-list {
  list-style: none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
li {
  margin: 0 2rem;
}
.nav-link {
  font-family: "Mansalva", cursive;
  font-size: 5rem;
  padding: 1rem;
  cursor: pointer;
}
.nav-link:hover,
.nav-link:focus {
  background: linear-gradient(to top, #ffe838, #fd57bf);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.top-nav.open {
  top: 0;
  border-radius: initial;
}
.landing-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  z-index: 1;
}
.landing-text h1 {
  font-size: 10rem;
  font-family: "Mansalva", cursive;
  font-weight: lighter;
  background: linear-gradient(to top, #ffe838, #fd57bf);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 1rem;
  user-select: none;
}
.landing-text h6 {
  font-size: 2.7rem;
  font-weight: 300;
}

@media screen and (max-width: 768px) {
  // .landing-text h1 {
  //   font-size: 15rem;
  // }
  // .landing-text h6 {
  //   font-size: 1.6rem;
  // }
  // .nav-list {
  //   flex-direction: column;
  // }
  // .nav-list li {
  //   margin: 2rem 0;
  // }
  // .nav-link {
  //   font-size: 4.5rem;
  // }
}
