* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Roboto", sans-serif;
  color: #eee;
}
body {
  width: 100%;
  height: 100%;
  background: url("../../images/sitebg.jpg") no-repeat center fixed;
  background-size: cover;
}
a {
  text-decoration: none;
  color: #eee;
}
p {
  font-size: 1.8rem;
  font-weight: 300;
}
img {
  width: 100%;
}
textarea {
  resize: none;
}
.container {
  width: 90%;
  max-width: 120rem;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
section {
  padding: 6rem 0;
}
.section-heading {
  text-align: center;
  margin-bottom: 10rem;
}
.section-heading h1 {
  font-size: 3.5rem;
  color: rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  font-weight: 300;
  position: relative;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}
.section-heading h1::before,
.section-heading h1::after {
  content: "";
  bottom: -0.5rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.75);
}
.section-heading h1::before {
  width: 10rem;
  height: 0.2rem;
  border-radius: 0.8rem;
}
.section-heading h1::after {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
  bottom: -1rem;
}
.section-heading h6 {
  font-size: 1.6rem;
  font-weight: lighter;
  padding-top: 1rem;
}
.header {
  width: 100%;
  height: 100vh;
}
.has-marign-right {
  margin-right: 5rem;
}

//media queries

@media screen and (max-width: 768px) {
  body {
    background: url("../../images/sitebg2.jpg") no-repeat center fixed;
    background-size: cover;
  }
  .landing-text h1 {
    font-size: 15rem;
  }
  .landing-text h6 {
    font-size: 1.6rem;
  }

  li {
    margin: 2rem 0;
  }
  .nav-link {
    font-size: 4.5rem;
  }
  .about-heading h1 {
    font-size: 8rem;
  }
  .section-heading h1 {
    font-size: 3rem;
  }
  .about-details .nav-list {
    flex-direction: initial;
  }
  .about-details li {
    margin: 0 2rem;
  }
  .portfolio-item {
    flex-direction: column;
  }
  .portfolio-img {
    margin: 0 0 2rem 0;
    order: 1;
  }
  .portfolio-description {
    margin: 0;
    order: 2;
  }

  .icon-container {
    width: 7rem;
    height: 7rem;
  }
  .icon-container i {
    font-size: 4rem;
  }
  .about .container {
    flex-direction: initial;
  }

  .landing-text h1 {
    font-size: 15rem;
  }
  .landing-text h6 {
    font-size: 1.6rem;
  }
  .menu-toggler {
    top: 2rem;
    right: 2rem;
  }

  .nav-list {
    flex-direction: column;
    margin: 2rem 0;
  }
  .timeline p {
    font-size: 1.6rem;
  }
  .timeline .date::before {
    left: 1.4rem;
  }
  form {
    width: 100%;
  }
  .up {
    right: 2rem;
  }
}

@media screen and (max-width: 600px) {
  li {
    margin: 2rem 0;
  }
  .nav-link {
    font-size: 3.5rem;
  }
  .about-heading h1 {
    font-size: 8rem;
  }
  .section-heading h1 {
    font-size: 3rem;
  }
  .about-details .nav-list {
    flex-direction: initial;
  }
  .about-details li {
    margin: 0 2rem;
  }

  .icon-container {
    width: 7rem;
    height: 7rem;
  }
  .icon-container i {
    font-size: 4rem;
  }
  .about .container {
    flex-direction: column;
  }
  .profile-img {
    margin: 0 0 7rem 0;
  }
  .landing-text h1 {
    font-size: 15rem;
  }
  .landing-text h6 {
    font-size: 1.6rem;
  }
  .nav-list {
    flex-direction: column;
    margin: 2rem 0;
  }
  .timeline ul {
    margin: 0 0 0 auto;
  }
  .timeline .date::before {
    left: -18rem;
  }
  .timeline .date::after {
    left: -5.9rem;
  }
  .landing-text h1 {
    font-size: 8rem;
  }
  .landing-text h6 {
    font-size: 2rem;
  }
  .menu-toggler {
    top: 2rem;
    right: 2rem;
  }
}
